*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
app/flin/release
app/src/flin/jniLibs/armeabi-v7a/libzeearchiver.so
app/src/flin/jniLibs/armeabi-v7a/lib7z.so
app/src/flin/jniLibs/armeabi-v7a/libsamp_new_old.so
.idea
